
<div class="Register-form">
  <h1 class="text-center">Register Your Details</h1>
   <div class="form-group" (click)="onsubmit()">
     <label for="">User id</label>
     <input type="text" id="id" name="id" class="form-control">
    </div>

  <div class="form-group">
      <label for="">Email</label>
      <input type="text" id="email" name="email" class="form-control">
   </div>

   <div class="form-group">
      <label for="">PassWord</label>
      <input type="password" id="pswd" name="pswd" class="form-control">
   </div>

    <div class="form-group">
      <label for="">Date of Birth</label>
      <input type="text" id="DOB" name="DOB" class="form-control">
    </div>

     <div class="form-group">
     <button class="submit" >Submit</button>
     </div>  
</div>